# Support library for versioning
importlib-metadata

# Framework and libraries
flask
python-dotenv
flask-mongoengine==1.0
flask-login
flask-babel

CurrencyConverter

# Git hooks
pre-commit

# Sentry for error logging and reporting
sentry-sdk[flask]
sentry-sdk[pymongo]

# More production-ready web server
#gunicorn


