<!doctype html>
<head>
<style>
  table, th, td {
    border:1px solid black;
}
</style>
<title>{% block title %}{% endblock %} - The Social Auction Network</title>
{# Sentry tracing for client side. See: https://docs.sentry.io/platforms/javascript/install/cdn/ #}
{% if config['SENTRY_DSN'] %}
  {{sentry_trace}}
  <script
    src="https://browser.sentry-cdn.com/7.35.0/bundle.tracing.min.js"
    integrity="sha384-CjDPchuHUNlGb4GlhyuebuZegU12keiasU1R69+B0VhN5ShdBb06nBWZRfGi73G1"
    crossorigin="anonymous">
  </script>
  <script>
    Sentry.onLoad(function() {
      Sentry.init({
        dsn: {{config['SENTRY_DSN'] | tojson}},
        release: {{config['SENTRY_RELEASE'] | tojson}},
        environment: {{config['SENTRY_ENVIRONMENT'] | tojson}},
        integrations: [new Sentry.BrowserTracing()],
      });
    });
  </script>
{% endif %}
</head>
<body>
<nav>
  <h1>Social Auction System</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['email'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      <li><a href="{{ url_for('items.index') }}">Items</a>
      <li><a href="{{ url_for('auth.profile') }}">Profile</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
</body>