{# Template file is in Jinja syntax:
    https://jinja.palletsprojects.com/en/3.1.x/
#}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Hello, world!!!!</h1>
    <p>Just testing the pipeline</p>
    <p>Another test</p>
  </body>
</html>
