{# Template file is in Jinja syntax:
    https://jinja.palletsprojects.com/en/3.1.x/
#}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Auction</title>
  </head>
  <body>

  <h3>Add new item:</h3>
  <form id="add-item" action="/" method="POST"> <!--not sure if needed: accept-charset="utf-8"-->
  <input type="hidden" value="{{laskuri}}" name="laskuri" />
  <p><label>User <input type="text" name="user" /></label></p>
  <p><label>Item <input type="text" name="item" /></label></p>
  <p><label>Price <input type="text" name="price" /></label> €</p>
  <p><input type="submit" name="painike" value="Add item"/></p>
  </form>

  <h3>Items for sale:</h3>
  {% for i in range(items | length) %}
    <p>{{items[i]}}</p>
  {% endfor %}

  </body>
</html>
