{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Items{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="/sell">New</a>
  {% endif %}
{% endblock %}

{% block content %}
<table class="table">
    <thead class="thead-light">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Starting Bid</th>
        <th>Seller</th>
        <th>Created At</th>
        <th>Closes At</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.starting_bid }}</td>
        <td>{{ item.seller.email }}</td>
        <td>{{ item.created_at }}</td>
        <td>{{ item.closes_at }}</td>
        <td>{% if g.user == item.seller %}
        <a class="action btn btn-primary" href="{{ url_for('items.update', id=item['id']) }}">Edit</a>
        {% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}