{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Items{% endblock %}</h1>
  {% if current_user.is_authenticated %}
    <a class="action btn btn-primary" href="/sell">{{_("New item")}}</a>
  {% endif %}
{% endblock %}

{% block content %}
<table class="table">
    <thead class="thead-light">
      <tr>
        <th>{{_("Title")}}</th>
        <th>{{_("Description")}}</th>
        <th>{{_("Starting bid")}}</th>
        <th>{{_("Seller")}}</th>
        <th>{{_("Created At")}}</th>
        <th>{{_("Closes At")}}</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td><a href="{{ url_for('items.view', id=item['id']) }}">{{ item.title }}</a></td>
        <td>{{ item.description }}</td>
        <td>{{ item.starting_bid|localcurrency }}</td>
        <td>{{ item.seller.email }}</td>
        <td>{{ item.created_at }}</td>
        <td>{{ item.closes_at }}</td>
        {% if current_user == item.seller %}
        <td><a class="action btn btn-primary" href="{{ url_for('items.update', id=item['id']) }}">Edit</a></td>
        {% endif %}

      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}