{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Items{% endblock %}</h1>
  {% if current_user.is_authenticated %}
    <a class="action btn btn-primary" href="/sell">New</a>
  {% endif %}
{% endblock %}

{% block content %}
<table class="table">
    <thead class="thead-light">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Seller</th>
        <th>Created At</th>
        <th>Closes At</th>
        <th>Leading Bid</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td><a href="{{ url_for('items.view', id=item['id']) }}">{{ item.title }}</a></td>
        <td>{{ item.description }}</td>
        <td>{{ item.starting_bid }}</td>
        <td>{{ item.seller.email }}</td>
        <td>{{ item.created_at }}</td>
        <td>{{ item.closes_at }}</td>
        <td>{{ item.leading_bid }}</td>
        {% if current_user == item.seller %}
        <td><a class="action btn btn-primary" href="{{ url_for('items.update', id=item['id']) }}">Edit</a></td>
        {% endif %}
        <td>{% if current_user != item.seller %}
          {% set bid_price = item.starting_bid + 1 %}
          <form action="{{ url_for('items.index') }}" method="POST">
            <input type="hidden" name="itemId" value="{{item.id}}">
            <input style="width: 40px;" name="bid" value="{{bid_price}}">
            <input class="action btn btn-primary" type="submit" value="Bid">
          </form>
        {% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}