{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{_("Sell an Item")}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card p-4">
                <h3 class="text-center mb-4">{{_("Add Item")}}</h3>
                <form method="post" action="{{ url_for('items.sell') }}">
                    <div class="form-group">
                        <label for="title">{{_("Title")}}</label>
                        <input type="text" name="title" id="title" class="form-control" value="{{ request.form['title'] }}" required="required">
                    </div>
                    <div class="form-group">
                        <label for="description">{{_("Description")}}</label>
                        <textarea name="description" id="description" class="form-control">{{ request.form['body'] }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="starting_bid">{{_("Starting Bid")}}</label>
                        <input type="number" name="starting_bid" id="starting_bid" min="0" class="form-control" required="required">
                    </div>
                    {% if config['DEBUG'] %}
                    <div class="form-group">
                        <input name="flash-sale" type="checkbox" id="flash-sale">
                        <label class="form-check-label" for="flash-sale">
                        {{_("Flash sale!")}}
                        </label>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <button class="btn btn-primary btn-block">{{_("Add to listing")}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}