<!-- Provides a page where the user can view one item at a time, bid and share the item on social media -->
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}View Item{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card p-4">
                    <h3 class="text-center mb-4">{{item.title}}</h3>
                        <div class="item-info">
                            <p>{{item.description}}</p>
                            <p>Current price: {{item.starting_bid}}</p>
                            <p>{% if g.user != item.seller %}
                                {% set bid_price = item.starting_bid + 1 %}
                                <form action="{{ url_for('items.index') }}" method="POST">
                                  <input type="hidden" name="itemId" value="{{item.id}}">
                                  <input style="width: 40px;" name="bid" value="{{bid_price}}">
                                  <input class="action btn btn-primary" type="submit" value="Bid">
                                </form>
                                {% endif %}
                            </p>
                        <div class="form-group">
                            <div class="d-flex justify-content-end">
                                <a href="https://www.facebook.com/sharer.php?u={{ url_for('items.view', id=item.id, _external=True) | urlencode }}" 
                                target="_blank" ><button name="action" value="share" class="action btn btn-primary" 
                                style="background-color: #4267B2; color:#fff;" >
                                    Share on Facebook</button></a>
                                <a href="{{ url_for('items.index') }}"><button name="action" value="return" class="action btn btn-primary">Back to listing</button></a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}