{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{_("Register")}}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form action="{{ url_for('auth.register') }}" method="POST" class="mt-4">
    <label for="email">{{_("Email")}}</label>
    <input name="email" id="email" required>
    <label for="password">{{_("Password")}}</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="{{_("Register")}}">
  </form>
{% endblock %}