{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Access tokens{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>{{"Personal Access Tokens"}}</h4>
            <p>
                Personal access tokens allow third-party services to authenticate with our application on your behalf.
            </p>
        </div>
        <div class="col-md-8">
            {% if token %}
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">{{_("Your new personal access token")}}</h4>
                <p>
                    Your new personal access token is shown below. You may now use this token to make API requests.
                </p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="token" value="{{ token.token }}" readonly>
                    <button class="btn btn-outline-secondary" type="button" id="copy-token" onclick="copyToken()">{{"Copy"}}</button>
                    <script>
                        function copyToken() {
                            var copyText = document.getElementById("token");
                            copyText.select();
                            copyText.setSelectionRange(0, 99999);
                            document.execCommand("copy");
                        }
                    </script>
                </div>
                <small class="form-text text-muted">{{ "Make sure to copy your new token now. You won't be able to see it again!" }}</small>
                <hr>
            </div>
            {% endif %}
            <div class="card">
                <div class="card-header">
                    <div class="text-center">{{ "Create access token" }}</div>
                </div>
                <form action="{{url_for('auth.user_access_tokens', email='me')}}" method="post" class="card-body">
                    <div class="form-group">
                        <label for="name">{{ "Name" }}</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="{{ " Enter token name" }}">
                        <div class="form-text text-muted">{{ "Give your token a descriptive name so you can easily identify it in the future." }}</div>
                    </div>
                    <div class="form-group">
                        <label class="form-check-label" for="expires">{{ "Expires at" }}</label>
                        <input type="date" class="form-control" name="expires" id="expires">
                        <div class="form-text text-muted">{{ "Leave blank to never expire." }}</div>
                    </div>
                    <button type="submit" class="btn btn-primary">{{ "Create access token" }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
  
{% endblock %}
